.footer {
  background-color: #111;
  color: white;
  padding: 40px 20px 10px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
}

.logo {
  color: #00b894;
  margin-bottom: 10px;
}

.footer-section h3 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 6px;
  cursor: pointer;
}

.footer-section ul li:hover {
  color: #00b894;
}

.social-icons {
  margin-top: 15px;
  font-size: 20px;
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.social-icons svg:hover {
  color: #00b894;
}

.footer-bottom {
  border-top: 1px solid #333;
  margin-top: 30px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 14px;
}

.footer-links span {
  margin-left: 15px;
  cursor: pointer;
}

.footer-links span:hover {
  color: #00b894;
}
